<!-- zoom buttons -->
<div class="ui-buttons-zoom fixed-zoom-group button-group dropdown-group">
    <div class="header-button timerange-btn" title="Set time range" ng-click="openTimeRangeModal()" ng-disabled="loading"></div>
    <div class="header-button header-button-small zoom-in-btn" title="Zoom in" ng-click="zoomIn()" ng-disabled="loading"></div>
    <div class="header-button header-button-small zoom-out-btn" title="Zoom out" ng-click="zoomOut()" ng-disabled="loading"></div>
    <div class="header-button header-button-small pan-left-btn" title="Pan left" ng-click="panLeft()" ng-disabled="loading"></div>
    <div class="header-button header-button-small pan-right-btn" title="Pan right" ng-click="panRight()" ng-disabled="loading"></div>
    <div class="header-button header-button-small undo-zoom" title="Undo zoom" ng-click="undoZoom()" ng-disabled="history.length < 1 || loading"></div>
    <div class="header-button header-button-small zoom-menu" title="More zoom levels" ng-click="toggleZoomMenu($event)" ng-disabled="loading"></div>
    <div ng-click="$event.clickedZoomMenu = true" class="dropdown">
        <div ng-show="zoomMenuOpen">
            <ul>
                <li ng-click="setTimeRangeByDuration(14400000)">4  Hours</li>
                <li ng-click="setTimeRangeByDuration(28800000)">8  Hours</li>
                <li ng-click="setTimeRangeByDuration(43200000)">12 Hours</li>
                <li ng-click="setTimeRangeByDuration(86400000)">24 Hours</li>
                <li ng-click="setTimeRangeByDuration(172800000)">48 Hours</li>
            </ul>
        </div>
    </div>
</div>

<!-- increase resolution button -->
<div class="ui-buttons-resolution header-button increase-resolution-btn"
 ng-show="!dataError && !fullResolution && datasetType === DatasetTypes.ANALOG"
 title="Increase data resolution"
 ng-class="{'disabled': !increaseResolutionButtonIsEnabled() }"
 ng-click="increaseResolution()">
</div>

<!-- filter button -->
<div class="ui-buttons-filter filter-button-group button-group dropdown-group" ng-show="datasetType !== DatasetTypes.EVENT_TABLE">
    <div class="header-button btn-padding"
     ng-class="{'filter-btn': !filtersAreActive(), 'active-filter-btn': filtersAreActive()}"
     title="Filter data"
     ng-click="toggleFilterMenu($event)"
     ng-disabled="loading">
    </div>
    <div ng-click="$event.clickedFilterMenu = true" class="dropdown" ng-if="filterMenuOpen">
        <div class="filter-options-group">
            <p ng-if="datasets.length > 1" class="overplot-filter-note">
                These settings will apply to all overplotted items.
            </p>
            <label ng-class="{'disabled': datasetType !== DatasetTypes.ANALOG}"
            title="If two adjacent points differ by more than a given value, the latter point will be removed">
                <input type="checkbox"
                ng-model="filterSelection.delta.enabled"
                ng-disabled="datasetType !== DatasetTypes.ANALOG">Delta
            </label>
            <div ng-if="filterSelection.delta.enabled" class="filter-details">
                <label>Max change:<br>
                    <input type="number" ng-model="filterSelection.delta.value">
                </label>
            </div>

            <label ng-class="{'disabled': datasetType !== DatasetTypes.ANALOG}"
            title="Any points which fall outside of the defined min/max bounds will be removed">
                <input type="checkbox"
                ng-model="filterSelection.minmax.enabled"
                ng-disabled="datasetType !== DatasetTypes.ANALOG">Min/max
            </label>
            <div ng-if="filterSelection.minmax.enabled" class="filter-details">
                <label>Min:<br>
                    <input type="number" ng-model="filterSelection.minmax.min">
                </label>
                <label>Max:<br>
                    <input type="number" ng-model="filterSelection.minmax.max">
                </label>
            </div>

            <label title="Points which have the same value as the preceding point will be removed">
                <input type="checkbox"
                ng-model="filterSelection.change.enabled">On change
            </label>

            <p class="text-danger" ng-if="filterError">{{filterError}}</p>

            <button class="btn btn-primary" ng-click="applyFilters()">Apply</button>
        </div>
    </div>
</div>

<!-- info button -->
<div class="ui-buttons-info header-button metadata-btn" title="Show metadata" ng-click="openInfoModal()"></div>

<!-- download button -->
<div class="ui-buttons-download download-button-group button-group dropdown-group" ng-show="downloadButtonEnabled()">
    <div class="header-button download-btn" title="Download data/image" ng-click="toggleDownloadMenu($event)"></div>
    <div class="dropdown" ng-if="downloadMenuOpen">
        <ul>
            <li ng-click="downloadCSV()">CSV data</li>
            <li ng-click="downloadImage('svg')" ng-show="datasetType !== DatasetTypes.EVENT_TABLE">SVG image</li>
            <li ng-click="downloadImage('png')" ng-show="datasetType !== DatasetTypes.EVENT_TABLE">PNG image</li>
            <li ng-click="downloadImage('pdf')" ng-show="datasetType !== DatasetTypes.EVENT_TABLE">PDF</li>
        </ul>
    </div>
</div>
